mixin sideMenu()
    .side-menu
      li
        a(href='') Home
      li
        a(href='') Profile
      li
        a(href='') Add Company
      li
        a(href='') Profile
      li
        a(href='') Sign Out