extend layout

block content 
    #content-wrapper
      +navigation()
      form#add-company(action='')
        h2 Add Your Company
        hr
        .form-group
          label(for='name') Company Name
          input#name(type='text')
        .form-group
          label(for='state') State
          select(name='state', id='state')
            option(selected disabled) Select State
            each state in states
              option(value=state)= state
        .form-group
          label(for='city') City
          select(name='city', id='cities')
            option(selected disabled) Select City
        .form-group
          label(for='contact') Contact
          input#contact(type='text', placeholder='+91 (10 digits contact number)')
        .form-group
          label(for='about') About
          textarea(name='about', id='', maxlength='175', placeholder='Short Description about your company')
        .form-group
          .input-group
            span Facebook
            input(type='text', name='facebook', placeholder='Your Profile')
          .input-group
            span Google
            input(type='text', name='google', placeholder='Your Profile')
          .input-group
            label(for='website') Website
            input(type='text', name='website')
        hr
        .upload-group
          input.form-submit(type='file')
          button.normal-btn
            i.fa.fa-camera
          .progress-bar 0% upload
          span.help-text Upload file should be in jpg format and size should not exceed 500kb.
        button.form-submit(type='submit') Add
block footer
    footer.bg-change © Business Rating App
