extend layout

block content
    #content-wrapper
      +navigation()
      .company_profile
        .company_profile--header
          img.item(src='https://unsplash.it/500/500', alt='')
          .company-info.item
            h2 Cras ornare tristique elit.
            hr
            .stars
              a.anchor-button(href='') Write a Review
              i.star-on
              i.star-on
              i.star-on
              i.star-on
              i.star-on
              span (5+)
            .about
              | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
              | Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.
            .social-media-links
              a.fa.fa-facebook(href='')
              a.fa.fa-google(href='')
              a.fa.fa-globe(href='')
            a.normal-btn(href='') Register me as a Employee
        .company_profile--basic
          span
            i.fa.fa-map-marker
            | New Delhi,India
          span
            i.fa.fa-phone
            | +91-8542265845
          .stars
            span Your Rating : 
            i.star-on
            i.star-on
            i.star-on
            i.star-on
            i.star-on
        h2.headline Employees
        .company_profile--employees
          a(href='')
            img(src='https://unsplash.it/500/500', alt='')
            .about
              span Ashish Mehra
          a(href='')
            img(src='https://unsplash.it/500/500', alt='')
            .about
              span Ashish Mehra
          a(href='')
            img(src='https://unsplash.it/500/500', alt='')
            .about
              span Ashish Mehra
          a(href='')
            img(src='https://unsplash.it/500/500', alt='')
            .about
              span Ashish Mehra
          a(href='')
            img(src='https://unsplash.it/500/500', alt='')
            .about
              span Ashish Mehra
          a(href='')
            img(src='https://unsplash.it/500/500', alt='')
            .about
              span Ashish Mehra
          a(href='')
            img(src='https://unsplash.it/500/500', alt='')
            .about
              span Ashish Mehra
          a(href='')
            img(src='https://unsplash.it/500/500', alt='')
            .about
              span Ashish Mehra
          a(href='')
            img(src='https://unsplash.it/500/500', alt='')
            .about
              span Ashish Mehra
        h2.headline Reviews
        .company_profile--form
          form(action="/company/564564/review" method="POST")
            if success.length > 0
              div.flash-success #{success}
            if error.length > 0
              div.flash-error   #{error}
            textarea(name="review" placeholder="Tell us about your experience with us")
            div.stars-form.stars
              b Your Rating :
              label.star-off#form-rating(data-rating="1")
              label.star-off#form-rating(data-rating="2")
              label.star-off#form-rating(data-rating="3")
              label.star-off#form-rating(data-rating="4")
              label.star-off#form-rating(data-rating="5")
              input(type="checkbox" name="rating" id="star_rate" value="0" checked)
            button.form-submit Submit
        .company_profile--reviews
          li
            img(src='https://unsplash.it/500/500', alt='')
            .review
              a(href='')
                h3 Adam Saleh
              .stars
                i.star-on
                i.star-on
                i.star-on
                i.star-on
                i.star-on
              p
                | Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.
          li
            img(src='https://unsplash.it/500/500', alt='')
            .review
              a(href='')
                h3 Adam Saleh
              .stars
                i.star-on
                i.star-on
                i.star-on
                i.star-on
                i.star-on
              p
                | Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.
          li
            img(src='https://unsplash.it/500/500', alt='')
            .review
              a(href='')
                h3 Adam Saleh
              .stars
                i.star-on
                i.star-on
                i.star-on
                i.star-on
                i.star-on
              p
                | Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis.
block footer
    footer(style='background:#fff;') © Business Rating App
