extend layout

block content
    #content-wrapper
      +navigation()
      .companies
        .section-heading
          h2 Companies
          .search
            input(type='text', name='search', data-target='comapanies', placeholder='Search')
            button.fa.fa-search
        .business-cards
          .card
            .card-image
              img(src='https://unsplash.it/500/500', alt='')
            .card-content
              h2 Heading 1
              .stars
                i.star-on
                i.star-on
                i.star-on
                i.star-on
                i.star-on
                span 5+ rating
              hr
              span
                i.fa.fa-map-marker
                | New Delhi,India
            .card-action
              a(href='')
                | See More 
                i.fa.fa-share
          .card
            .card-image
              img(src='https://unsplash.it/500/500', alt='')
            .card-content
              h2 Heading 1
              .stars
                i.star-on
                i.star-on
                i.star-on
                i.star-on
                i.star-on
                span 5+ rating
              hr
              span
                i.fa.fa-map-marker
                | New Delhi,India
            .card-action
              a(href='')
                | See More 
                i.fa.fa-share
          .card
            .card-image
              img(src='https://unsplash.it/500/500', alt='')
            .card-content
              h2 Heading 1
              .stars
                i.star-on
                i.star-on
                i.star-on
                i.star-on
                i.star-on
                span 5+ rating
              hr
              span
                i.fa.fa-map-marker
                | New Delhi,India
            .card-action
              a(href='')
                | See More 
                i.fa.fa-share
          .card
            .card-image
              img(src='https://unsplash.it/500/500', alt='')
            .card-content
              h2 Heading 1
              .stars
                i.star-on
                i.star-on
                i.star-on
                i.star-on
                i.star-on
                span 5+ rating
              hr
              span
                i.fa.fa-map-marker
                | New Delhi,India
            .card-action
              a(href='')
                | See More 
                i.fa.fa-share
          .card
            .card-image
              img(src='https://unsplash.it/500/500', alt='')
            .card-content
              h2 Heading 1
              .stars
                i.star-on
                i.star-on
                i.star-on
                i.star-on
                i.star-on
                span 5+ rating
              hr
              span
                i.fa.fa-map-marker
                | New Delhi,India
            .card-action
              a(href='')
                | See More 
                i.fa.fa-share
        hr
        .pagination
          a(href='') Previous
          a(href='') 1
          a(href='') 2
          a(href='') 3
          a(href='') 4
          a(href='') 5
          a(href='') 6
          a(href='') 7
          a(href='') Next


