doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Business Rating App | #{title}
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css')
    link(rel='stylesheet', href='/css/main.css')
  body
  if error
        div.flash #{error}
  if success
        div.flash #{success}
  //- including mixins
  include partials/_side-nav
  include partials/_navigation
  include partials/nav_items/_home-nav
  include partials/nav_items/_normal-nav

  +sideMenu()

  block content  

  block footer
  // Scripts
  script(src='/js/main.js')
