extend layout

block content
    #form-wrapper
      +navigation(false,true,false)    
      form(action='/login' method="POST")
        h2 Sign In
        hr
        if success.length > 0
          div.flash-success #{success}
        if error.length > 0
          div.flash-error   #{error}
        input#email.form-input(type='email' name="email" placeholder='example@abc.com')
        input#password.form-input(type='password' name='password' placeholder='Password')
        p
         // input#remember(type='checkbox')
         // |  Remember Me
        .form-group
          button.form-submit(type='submit') Log In
          a(href='' id="reset-btn") I forgot my password.
        hr
        span
          | Login with 
          br
          a.fa.fa-facebook(href='/auth/facebook') acebook
          |  or 
          a.fa.fa-google(href='/auth/google') oogle

      form(action="/user/reset" method="POST" id="reset" class="hide" style="margin-top:0;padding-top:0;")
        hr
        label(for="email") Your email address
        input#email.form-input(type='email' name='email' placeholder='example@abc.com')
        button.form-submit(type='submit') Reset

