@include media($viewport--sm,max-width){
    
    // form margin
    #form-wrapper{
        height:auto;
        form{
            margin:0;
            width:100%;
            height:100vh;
        }
    }

    //nav module
    .navbar{
        justify-content: start;
        align-items: center;
        &_items{
            display: none;  
        }
        &-btn{
            margin-right: 32%;
            display: block;
        }
    }

    //card module
    .business-cards{
        .card{
            flex-basis: flex-width(2,$flex-item--marginX);
        }
    }

     //search module
    .search{
        flex-basis: 175px;
    }

     //comany profile
     .company_profile{
        text-align: left;
        &--header{
            flex-direction: column;
            padding:em(35px) em(15px);
            img{
                @include imageSize(100%,300px);
            }
            .item{
                &:last-child{
                    padding: 0;
                }
            }
            &:after{
                right:-140%;
            }
        }
        .company-info{
             margin-top:em(50px);
            h2{
              font-size: em(19px);
            }
            .normal-btn{
                margin-top: em(20px);
                float: left;
            }
            .stars{
                i{
                  width: 20px;
                  height: 20px;
                }
                span{
                  margin-left: 15px;
                }
            }
            .about{
                font-weight: $font-weight--medium;
                color: darken($primary--bg,40%);
            }
        }

        &--employees{
            a{
                flex-basis:flex-width(1,$flex-item--marginX);
            }            
        }

        &--reviews{
            li{
                padding:em(10px) em(7px);
                width: 95%;
                img{
                    @include imageSize(100px,100px);
                }
                .review{
                    font-size: em(12px);
                }
            }
        }
        
        &--basic{
            flex-direction: column;
            padding: em(10px);
            align-items: flex-start;
            > * {
                margin:em(5px) 0;
            }
        }

    }

}