
// Form Wrapper

#form-wrapper{
    @extend %container;
    height: 100vh;
    background: url(#{$path--img}/background.jpg) no-repeat center;
    background-size: cover;
}

// Content Wrapper
#content-wrapper{
    @extend %container;
    height: 100%;
    background:$primary--bg;
}

// Comapnies Wrapper

.companies{
    margin:em(30px) em(15px);
}